<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo.png" width="100" height="30" alt="" />
  </a>
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto custom-navbar">
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLink="/doc/new">New Doc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLink="/mydocs">My Docs</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" (click)="logoutClick($event)">Logout</a>
      </li>
    </ul>
  </div>
</nav>
